.main {
  background-color: rgb(220,154,58);

  .image-container {
    width: 20%;
  }

  .mint-container {
    max-width: 304px;
    width: 100%;
    text-align: center;

    .title {
      font-weight: 700;
      font-size: 37px;
    }

    .supply {
      font-weight: 700;
      font-size: 20px;
    }

    .mint-button {
      background-color: rgb(25,51,82);
      color: #fff;
      border: 1px solid rgb(25,51,82);
      transition: 0.3s;
    }

    .mint-button:hover {
      background-color: rgb(220,154,58);
    }
  }
}

.header {
  .connect-wallet {
    background-color: rgb(25,51,82);
    color: #fff;
    border: 1px solid rgb(25,51,82);
    transition: 0.3s;
  }

  .connect-wallet:hover {
    background-color: rgb(220,154,58);
  }
}